.container {
  background: var(--neutral1);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px 1fr;
  align-items: stretch;
  z-index: 0;
}

.screen {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 100px -20px;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform-origin: top left;
}

.links {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}

.links a {
  text-decoration: none;
}

.empty {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-gap: 20px;
  height: 100vh;
}

.empty svg {
  font-size: 28px;
}

.empty > div {
  display: flex;
  align-items: center;
}

.empty > div:first-of-type {
  font-size: 20px;
  font-weight: 600;
}

.empty > div:last-of-type {
  color: #666;
}

.empty span {
  background: #ccc;
  border-radius: 2px;
  padding: 2px;
  margin: 0 5px;
  color: #222;
  font-weight: 600;
}
